#main-footer {
    color: #fff;
    font-size: 15px;
    padding: 1rem 0;
    
}
#main-footer-about{
    margin-top: 6.45rem;
    color: #fff;
    font-size: 15px;
    padding: 1rem 0;
    
}


.imageDiv {
    justify-content: center;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    
}

#main-footer img {
    width: 140px;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#main-footer a {
    color:#fff
}

#main-footer .footer-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:1rem;
}

#main-footer .footer-container > :last-child{
    grid-column:1/ span 4;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container input[type='email']{
    width: 90%;
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}


