@media only screen and (min-width: 600px) {
    html {
      zoom: .8;
    }
  }

  @media only screen and (min-width: 1500px) {
    html {
      zoom: .9;        
    }
  }

  @media only screen and (min-width: 1000px) {
    html {
      zoom: 1.15;
    }
  }