.pagination {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:1.5rem;
    background: #333;
    color: aliceblue;
    
}
 .pagination ul{
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 7%;
}



.page{
    padding: 0.5rem 0.5rem;
    background:#b9aeae;
}

.activePage{
    background: var(--light-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    border-radius: 7%;

}

